{% extends 'base.html.twig' %}

{% block body %}
    {% if category is not null %}
    <h1>Category Info</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ category.name }}</td>
        </tr>
        </tbody>
    </table>
    <h1>List of products</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>

        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if pagination.page>1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('get_products_categories',{'id':category.id,'page':pagination.page-1})}}" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {#display p numbers only from p-3 to p+3 but don't go <1 or >pages_count#}
                        {% for p in range(max(pagination.page-3, 1),
                        min(pagination.page+3, pagination.pages_count)) %}
                        <li class="page-item"><a{% if p == pagination.page %} class="page-link current"{% else %} class="page-link"{% endif %}
                                    href="{{ path('get_products_categories',{'id':category.id,'page':p} )}}">{{ p }}
                            </a>
                        </li>
                        {% endfor %}
                        {% if pagination.page<pagination.pages_count %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('get_products_categories',{'id':category.id,'page':pagination.page+1} )}}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="dataTables_info">
                        Showing {% if pagination.page>1 %}{{ (pagination.page-1)*pagination.max_per_page }}{% else %}1{% endif %}
                        to {{ pagination.page*pagination.max_per_page }} of {{ pagination.nb_products }} entries
                    </div>
                </nav>
            </td>
        </tr>
        </tfoot>
    </table>
    {% endif %}
{% endblock %}
